body {
    color: white;
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(21, 113, 233);
    padding: 20px;
    font-size: 32px;
    color: rgb(9, 97, 211);
}

section {
	background: rgb(17, 36, 204);
	padding-bottom: 80px;
	padding-top: 80px;
	display: flex;
	justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

img{
    height: 200px;
}