body {
    color: white;
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(214, 13, 63);
    padding: 20px;
    font-size: 32px;
    color: rgb(211, 9, 43);
}

section {
	background: rgb(17, 36, 204);
	padding-bottom: 80px;
	padding-top: 80px;
	display: flex;
	justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

img{
    height: 200px;
}